

:root {

    // primary colors

    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);

    //neutral colors
    --Dark-gray: hsl(0, 0%, 59%);
}


body {
    font-size: 1.2rem;
    font-family: 'Kumbh Sans', monospace;
    margin: 0;
}


.attribution { font-size: 11px; text-align: center; display: none; }
.attribution a { color: hsl(228, 45%, 44%); }
  

